.chalkboard {
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background: linear-gradient(
    -15deg,
    rgb(224, 133, 79) 43%,
    rgb(233, 176, 91) 43%
  );
  border: 10px solid rgb(233, 176, 91);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.title {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  color: rgb(175, 154, 154);
}

.algorithm {
  color: rgb(41, 39, 39);
  flex: 1;
  white-space: pre-wrap;
  padding: 20px;
  border-right: 1px solid gray;
}

.testcase {
  color: rgb(73, 72, 72);
  flex: 1;
  white-space: pre-wrap;
  padding: 20px;
}

.margin {
  margin-bottom: 50px;
  padding-bottom: 2.5rem;
}

@media (max-width: 950px) {
  .card-body {
    padding: 10px;
  }

  .chalkboard {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .algorithm {
    border: none;
    border-right: none;
    border-bottom: 1px solid gray;
  }
}
