.topnav {
  font-family: "Helvetica";
  overflow: hidden;
  background-color: #2e2a2a;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}

.topnav a:hover {
  background-color: #474141;
  color: rgb(231, 148, 100);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    background-color: #2e2a2a;
  }
  .topnav a.active {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    text-align: center;
    display: block;
  }
}

.topnav .home_a {
  font-size: 20px;
  font-weight: bold;
  color: orange;
  float: left;
}
