.topnav {
  font-family: "Caveat", cursive;
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #2e2a2a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rgb(226, 222, 218);
  color: rgb(231, 148, 100);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.active {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    text-align: center;
    display: block;
  }
}
